body{
    background: #dadada;
}
main article{
    padding-top: 10px;
    color: #000;
}
img{
    max-width: 100%;
    display: block;
}
.header-div2-h1 h1{
    margin: 5vh auto;
}
h1
{
    text-align: center;
    border-bottom: 3px solid turquoise;
    width: 70%;
    margin:  10vh auto 10px auto ;
}
article{
    width: 80%;
    margin: auto;
}
.news-animes{
    margin-bottom: 10vh;
}
/*HEADER*/
header a{
    color: white;
    height: 100%;
}
header a img{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.nav-container{
    background:#555;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    height: 9vh;
    align-items: center;
}

.header-ul-container{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.nav-container .first-a{
    width: 30%;
    text-align: center;
}
.header-ul-container li{
    margin-left: 10px;
    flex: 1;
}
.header-div2{
    height: 70vh;
    background: url('../style/destaque.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex: 1 1;
    display: flex;
    align-items: center;

}
.header-div2-h1{
    margin: auto;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}
.header-div2 h1{
    flex: 1;
    color: #000;
}
/*MAIN NEWS*/
.news-nav-ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}
.news-nav-ul li{
    flex: 1 1 30%;
    margin: 5px;
    padding: 10px;
    text-align: justify;
}
/*PROMOTIONS*/
.article-promotions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    max-width: 800px;
    padding: 10px;
    padding-top: 20px;
    align-items:flex-start;
    margin-bottom: 10vh;
}

.article-promotions div:nth-child(1){
    grid-row: 1 / 3;
}

.div-promotions{
    display: grid;
}
.div-promotions img{
    grid-column: 1;
    grid-row: 1/3;
    align-self: end;
  
}
.div-promotions h2{
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    color: #fff;
    grid-column: 1;
    grid-row: 2;
    align-self: end;
}
.div-promotions a{
    grid-column: 1;
    grid-row: 2;
    align-self: end;
}
#promotion-image{
    width: 100%;
}

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 20px;
    justify-content: space-around;

    background-color: #555;
}
footer div{
    text-align: center;
    flex: 1;
    padding: 20px;
}
footer h1{
    width: 100%;
    margin: 10px 40vh;
    color: #fff;
}
footer p{
    width: 100%;
    text-align: center;
    color: #fff;
}
footer img{
    margin: auto;
    padding: 10px;
}